<%= javascript_include_tag "/assets/ckeditor/init.js" %>
<%= javascript_include_tag "/assets/ckeditor/ckeditor.js" %>
<div class="container">
	<%= render :partial => "new", :locals => {:page => @page } %>
</div>