<div class="container">
	<div class="row">
		<h2>Izmijeni Radno Vrijeme</h2>
	</div>
	<div class="row">
		<%= render :partial => "new", :locals => {:workingHour => @workingHour } %>
	</div>
	<div class="row">
		<div>
			<%= link_to '<i class="fa fa-check fa fa-white"></i> Save'.html_safe, "#", 
				:class => 'btn btn-primary', 
				:onclick => '$(".edit_working_hour").submit()' %>
		</div>
	</div>
</div>