<div class="container">
	<div class="row">
		<h2>Edit Settings</h2>
	</div>
	<div class="row">
		<%= render :partial => "edit", :locals => {:setting => @setting } %>
	</div>
	<div class="row">
		<div>
			<%= link_to '<i class="icon-ok icon-white"></i> Save'.html_safe, "#", 
				:class => 'btn btn-primary', 
				:onclick => '$(".edit_setting").submit()' %>
		</div>
	</div>
</div>
<script type="text/javascript">
	//Drag and drop upload
	jQuery(function() {
	  	return $("form[name='favicon_image']").fileupload({
		    dataType: "script",
	  		dropZone: $('#uploadedFaviconImage'),
		    add: function(e, data) {

		      	var file, types;
		      	types = /(\.|\/)(gif|jpe?g|png)$/i;
		      	file = data.files[0];


		      	if (types.test(file.type) || types.test(file.name)) {
		      		$('#faviconProgressBar').css('width', '0%');
		    		$('#faviconProgress').show();
		    		$('#faviconMessage').html('Uploading image, please wait...');
		      		data.submit();
		      	} else {
		        	return alert("Image \"" + file.name + "\" isn\'t of gif, jpeg or png fileformat!");
		      	}
		    },
		    progress: function (e, data) {
		    	//Animiraj progress
		        var progress = parseInt(data.loaded / data.total * 100, 10);
		        $('#faviconProgressBar').css('width', progress + '%');
		        if( progress == 100 ) 
		        {
		        	$('#faviconProgress').hide();
		        	$('#faviconProgressBar').css('width', '0%');
		        	$('#faviconMessage').html('Drag and drop images here!');
		        }
		    }
		});
	});

	//Drag and drop upload
	jQuery(function() {
	  	return $("form[name='preview_image']").fileupload({
		    dataType: "script",
	  		dropZone: $('#uploadedPreviewImage'),
		    add: function(e, data) {

		      	var file, types;
		      	types = /(\.|\/)(gif|jpe?g|png)$/i;
		      	file = data.files[0];


		      	if (types.test(file.type) || types.test(file.name)) {
		      		$('#previewProgressBar').css('width', '0%');
		    		$('#previewProgress').show();
		    		$('#previewMessage').html('Uploading image, please wait...');
		      		data.submit();
		      	} else {
		        	return alert("Image \"" + file.name + "\" isn\'t of gif, jpeg or png fileformat!");
		      	}
		    },
		    progress: function (e, data) {
		    	//Animiraj progress
		        var progress = parseInt(data.loaded / data.total * 100, 10);
		        $('#previewProgressBar').css('width', progress + '%');
		        if( progress == 100 ) 
		        {
		        	$('#previewProgress').hide();
		        	$('#previewProgressBar').css('width', '0%');
		        	$('#previewMessage').html('Drag and drop images here!');
		        }
		    }
		});
	});

</script>