/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 *= requiree_tree .
 */

 @import url("/assets/bootstrap.css");
 @import url("/assets/font-awesome.css");
 @import url("/assets/font-awesome-ie7.css");
 @import url("/assets/nprogress.css");

 html {
 	height: 100%;
 }

 body {
  	margin-top: 53px;
 }

 .colorPreview {
 	margin-left: 1%;
 	margin-right: 1%;
 	height: 30px;
	width: 8%;
	float: left;
	background-color: #cfcfcf;
	border-radius: 3px;
	border: 1px solid #b3b3b3;
 }

 #loadProgress {
 	height: 3px;
 	width: 100%;
 }

 .ddNotice {
 	z-index: -1;
 	display: none;
 }

 .optUpload {
 	min-height: 150px;
 	border-radius: 15px;
 	border: dashed 3px #acacac;
 }
 .optUpload .ddNotice {
 	z-index: -1;
 	display: inline-block;
 	width: 80%;
 	height: 10%;
 	position: relative;
 	left: 10%;
 	top: 55px;
 	color: #acacac;
 	text-align: center;
 }

 .header {
 	width: 100%;
 	height: 220px;
 	background-color: #cbcbcb;
 }
 .header .title {
 	width: 70%;
 	position: relative;
 	top: 70px;
 	left: 15%;
 }

 .page.new.settings {
 	margin-left: 20px;
 	margin-right: 20px;
 }

 .pageItem {
 	overflow: hidden;
 	width: 100%;
 }

 .pageItem .admin {
 	background-color: rgba(0,0,0,0.6)
 }

 @media (min-width: 768px) {
  .hiddenSearch {
    display: none;
  }
  .hiddenSearchButton {
    display: none;
  }
}

@media (max-width: 768px) {
  .hiddenSearchButtonAlt {
    display: none;
  }
}

.roleSelect label {
  display:inline;
}
.roleSelect label:after {
  content:"\A";
  white-space:pre;
}
