<!-- Render Parent -->
<option value="<%= item.id %>" <% if (item != nil) && (original != nil) %> <% if item.id == original.id %>selected="selected"<% end %> <% end %>>
	<% (1..item.depth).each do |i| %>
	  &nbsp;&nbsp;  
	<% end %>
	<%= item.title %>
</option>

<!-- Render children -->
<% if item.has_children? %>
	<% item.children.each do |opt|%>
		<%= render :partial => "categories/categoryItemMenu", :locals => {:item => opt, :original => original } %>
	<% end %>
<% end %>