<div class="container">
	<div class="row">
		<h2>Izmjena Kategorije</h2>
	</div>
	<div class="row">
		<%= render :partial => "new", :locals => {:category => @category } %>
	</div>
	<div class="row">
		<div>
			<%= link_to '<i class="fa fa-check"></i> Pohrani'.html_safe, "#", 
				:class => 'btn btn-primary', 
				:onclick => '$(".edit_category").submit()' %>
		</div>
	</div>
</div>