<div class="pages">
	<% @pages.each do |p| %>
		<div>
			<% if p.hasPreview == true %>
				<%= p.contentPreview.html_safe %>
			<% else %>
				<%= p.content.html_safe %>
			<% end %>
		</div>
	<% end %>
</div>
<div class="container">
	<center>
		<%= will_paginate @pages,
			renderer: BootstrapPagination::Rails,
			previous_label: "<i class='fa fa-chevron-left'></i>".html_safe, 
			next_label: "<i class='fa fa-chevron-right'></i>".html_safe %>
	</center>
</div>