<div class="container">
	<div class="row">
		<h2>Izmjena Postupak</h2>
	</div>
	<div class="row">
		<%= render :partial => "new", :locals => {:procedure => @procedure } %>
	</div>
	<div class="row">
		<div>
			<%= link_to '<i class="fa fa-check"></i> Save'.html_safe, "#", 
				:class => 'btn btn-primary', 
				:onclick => '$(".edit_procedure").submit()' %>
		</div>
	</div>
</div>