<div class="form-group">
	<table class="table table-striped">
		<thead>
			<tr>
				<td style="width:10%">Icon</td>
				<td>Name</td>
				<td style="width:25%">Options</td>
			</tr>
		</thead>
		<tbody>	
			<% network.each do |u| %>
				<tr>
					<td><%= u.icon.html_safe %></td>
					<td>
						<%= link_to u.name, u.link %>
					</td>
					<td>
						<div style="float:left;">
							<%= link_to '<i class="icon-edit"></i> Edit'.html_safe, 
							        	edit_network_path(u),
							        	:class => "btn btn-default" %>
						</div>
						<div style="float:left; margin-left:10px;">
							<%= link_to '<i class="icon-trash"></i> Delete'.html_safe, 
							        	network_path(u),
							        	:method => "delete",
							        	:confirm => "Are you sure you want to delete the network #{u.name}?",
							        	:class => "btn btn-danger" %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>